proxies:
  /geocode/:
    default: v1
    upstreams:
      # version token v1
      v1:
        {{- range (split " " .GEOCODE_V1_UPSTREAMS)}}
        - {{ . }}
        {{- end }}
      v2:
        {{- range (split " " .GEOCODE_V2_UPSTREAMS)}}
        - {{ . }}
        {{- end }}
    # optional: sunsets
    # will be converted to RFC 1123
    sunsets:
      v1: 2020-11-23T22:59:00.000Z
    # if sunsets are defined, a recommended versin must be set
    recommended: v2
  # another service - no scheduled sunset for this one
  /another/:
    default: v2
    upstreams:
      # version token v1
      v1:
        {{- range (split " " .ANOTHER_V1_UPSTREAMS)}}
        - {{ . }}
        {{- end }}
      v2:
        {{- range (split " " .ANOTHER_V2_UPSTREAMS)}}
        - {{ . }}
        {{- end }}
